@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.row {
	display: flex;
}

.col {
	flex: 1;
	padding: 10px;
}

@media only screen and (max-width: 720px) {
	.row {
	  flex-direction: column;
	}
}